backend/node_modules
frontend/node_modules
backend/dist
frontend/dist
backend/package-lock.json
frontend/package-lock.json
backend/npm-debug.log
frontend/npm-debug.log
backend/yarn.lock
frontend/yarn.lock